[user]
	email = "ozden.cem@outlook.com"
	name = "Cem Özden"
	username = "ozd64"

[core]
	editor = nvim

[gui]
	editor = nvim

[color]
	ui = auto

[color "branch"]
	current = blue bold
	local = gray bold
	remote = green bold

[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold

[init]
	defaultBranch = main

[alias]
	# Show all branches
	allBranches = branch -av
	branchName = !git branch | grep "^*" | awk '{ print $2 }'
	co = commit

[web]
	browser = firefox
